<!doctype html>
{% load static %}
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sepluvetcon">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>Fabrique Mailing API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <meta name="theme-color" content="#712cf9">
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Mailing Service</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'api-root' %}">API</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'schema-swagger-ui' %}">Docs</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Fabrique Mailing API.</h1>
        <p class="lead">Mailing list management service. Administration and statistics API</p>
        <p class="lead">
          <a href="{% url 'api-root' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white me-3">API</a>
          <a href="{% url 'schema-swagger-ui' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Docs</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Mailing Service API. By © <a href="https://t.me/sepluvetcon" class="text-white">Sepluvetcon</a>. 2023</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
